# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#Various other project related files
*.gdl
*.jar
*.xml
dist/*
.DS_STORE
.vscode/
.classpath
.settings/*
.project
.recommenders/*
bin/*


# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
/bin/
